@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&family=Expletus+Sans&family=Fredoka+One&family=Nunito:wght@400;500;600&family=Poppins:wght@700&family=Quicksand:wght@400;500&family=Rubik+Glitch&family=Zen+Tokyo+Zoo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Rubik', sans-serif;
}
h1{
    color: white;
}
nav{
    position: absolute;
    transition: 0.5s;
}

.nav-item{
    color: blue;
    font-weight: 600;
}
.nav-brand{
    display: flex;
    align-items: center;
}
.main-carousel{
    top: 90px;
    left: 0;
    right: 0;
    margin-bottom: 200px;
    position: absolute;
}
.cell{
    width: 70%;
    height: 500px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}
.cell img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.footer-carousel{
    height: 16rem;
    background: transparent;
    width: 100%;
    position: relative;
}

.container p{
    font-size: 18px;
    color: #ccc;
}
.loginForm{
    display: flex;    
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.wrapper{
    display: flex;
    flex-flow: column;
    width: 400px;
    padding: 20px;    
    background-color: #ccc;
    border-radius: 10px;       
}
.input-field{
    font-size: 18px;
}
.form-controls{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    height: 50px;
    padding: 10px;
    transition: 0.5s;
}
.form-controls:hover, .form-controls:focus{
    border: 1px solid orange;
    
}
.btn{
    width: 100%;
    margin-top: 10px;
}
.wrapper p{
    margin-top: 10px;    
}
.wrapper a{
    text-decoration: none; 
}
.wrapper h1{
    border-left: 5px solid orange;
    padding-left: 10px;
}
.dark{
    background-color:#212529;
}
p{
    margin-bottom: 0px;
}
#footer
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
    color: rgb(229, 229, 229);
    font-size: 14px;
    font-weight: 600;
    border-top: 1px solid #ccc;
    margin-bottom: 0px auto;
    text-align: center;
    line-height: 30px;
  }
.footer-title>h6{
    color: white;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;    
}

.navbar.bg-dark>ul#datasheets{
    background-color: #212529;
}

ul#datasheets{
    transition: 0.5s;
}

.swal-icon{
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 10px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; 
}

iframe{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
span.text-brand{
    /* font-family: 'Rubik Glitch', cursive; */
    font-family: 'Zen Tokyo Zoo', cursive;
    margin-left: 10px;
    margin-bottom: -3px;
    transition: .5s;
}

.orange{
    color: rgb(227, 145, 87);
    transition: .5s;
}
.container-fluid{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    flex-flow: column;
}

.aboutHeader{
    color: #212529;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
}

.image>img{
    min-width: 350px;
}
.description{
    padding: 70px 220px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media only screen and (min-width: 1200px){
    .container-fluid{
       padding: 120px 0 20px 0!important;
    }
    .text-brand{
        font-size: 37px;
    }
    .description{
        width: 100%;

        padding: 50px 140px!important;
    }
    .description h5{
        line-height: 30px;
    }
    .aboutHeader{
        margin-bottom: 30px;
    }
    h5{
        font-size: 22px;
        width: 100%;
    }
    .title{
        width: 67%;
        margin-left: 20px;
    }
    .fa-gear, .fa-code, .fa-earth-asia{
        font-size: 80px;
    }
    .realm{
        padding: 20px 50px;
        line-height: 80px;
        display: flex;
        justify-content: space-evenly;
        flex-flow: row;
        align-items: center;
        text-align: center;
    }
    .realm h4{
        font-size: 19px;
    }
    .blsteam{
        top: 50px;
        padding: 7px 10px;
    }
    .blsteam>a{
        font-size: 50px;
    }
    .logo>img{
        width: 60px;
        height: auto;
    }
    #background{
        height: 175px;
    }
    
}

@media only screen and (max-width: 1200px){
    .text-brand{
        font-size: 37px;
    }
    .description{
        width: 100%;
        padding: 30px 100px;
    }
    
    .blsteam{
        padding: 5px 15px;
        top: 30px;
    }
    .blsteam>a{
        font-size:27px;
    }
    .logo>img{
        width: 20px;
        height: auto;
    }
    #background{
        height: 150px;
    }
    .realm{
        padding: 20px 50px;
        line-height: 80px;
        display: flex;
        justify-content: space-evenly;
        flex-flow: row;
        align-items: center;
        text-align: center;
    }
    .aboutHeader{
        margin-bottom: 15px;
    }

}

@media only screen and (min-width: 770px){

    .description{
        padding: 50px 70px;
    }
    .description>h5{
        font-size: 24px;
    }
    .title{
        width: 70%;
    }
    .title>h5{
        font-size: 24px;   
    }
    .btn-primary{
        padding: 5px 3px;
    }
    .container-fluid{
        padding: 100px 0 20px 0;
    }
    .fa-gear, .fa-code, .fa-earth-asia{
        font-size: 70px;
    }
    .realm h4{
        font-size: 18.5px;
    }
    .blsteam{
        top: 5px;
    }
    .blsteam>a{
        font-size: 16px;
    }
    .logo>img{
        width: 30px;
        height: auto;
    }
    .prize-text{
        font-size: 20px;
    }
    .event{
        font-size: 33.5px;
    }
    #background{
        height: 125px;
    }
    .aboutHeader{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 770px){
    .text-brand{
        font-size: 20px!important;
    }
    .description{
        padding: 30px 45px;
    }
    .blog{
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .aboutHeader{
        margin-bottom: 5px;
    }
    .title{
        width: 70%;
        
    }
    .container-fluid{
        padding: 100px 0 20px 0;
    }
    .fa-gear, .fa-code, .fa-earth-asia{
        font-size: 50px;
    }
    .realm h4{
        font-size: 15.5px;
    }
    .blsteam{
        top: 5px;
        padding: 5px 8px;
    }
    .blsteam>a{
        font-size: 14px;
    }
    .logo>img{
        width: 20px;
        height: auto;
    }
    .prize-text{
        font-size: 14px;
    }
    .event{
        font-size: 23.5px;
    }
    #background{
        height: 110px;
    }
    .btn-primary{
        font-size: 14px;
        padding:2px 0;
    }

    .realm{
        padding: 0 20px;
        line-height: 80px;
        display: flex;
        justify-content: space-around;
        flex-flow: row;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 450px){
    .text-brand{
        font-size: 16px!important;
    }
    .description{
        padding: 30px 50px;
    }
    h5{
        font-weight: 400;
    }
    .fa-gear, .fa-code, .fa-earth-asia{
        font-size: 50px;
    }
    .realm h4{
        font-size: 12.5px;
    }
    .title{
        width: 92%;
    }
    .container-fluid{
        padding: 100px 0 20px 0;
    }
    .blsteam{
        top: 0;
        padding: 4px 7px;

    }
    .blsteam>a{
        font-size: 12px;
    }
    .logo>img{
        width: 18px;
        height: auto;
    }
    .prize-text{
        font-size: 12.4px;
    }
    .event{
        font-size: 20.8px;
    }
    #background{
        height: 100px;
    }
}
@media only screen and (max-width: 390px){
    .text-brand{
        font-size: 12px!important;
    }
    .image>img{
        min-width: 250px;
    }
    .container-fluid{
        padding: 80px 0 20px 0;
    }
    .aboutHeader{
        font-size: 19px;
        margin-bottom: 5px;
    }
    h5{
        font-size: 10px;
        font-weight: 400;
    }
    .fa-gear, .fa-code, .fa-earth-asia{
        font-size: 35px;
    }
    .realm h4{
        font-size: 10px;
    }
    .title{
        width: 100%;
        padding: 30px;
    }
    .title>h2{
       font-size: 14px;
       margin-bottom: 10px;
    }
    .blsteam{
        top: 0;
        padding: 3px 5px;
    }
    .blsteam>a{
        font-size: 10px;
    }
    a>img{
        width: 15px;
        height: auto;
    }
    .prize-text{
        font-size: 8.3px;
    }
    .event{
        font-size: 14px;
    }
    #background{
        height: 75px;
    }
    .btn-primary{
        font-size: 10px;
        padding:6px 4px;
    }
}
@media(max-width: 280px){
    .container-fluid{
        padding: 80px 0 10px 0;
    }
    .image>img{
        min-width: 200px;
    }
    .aboutHeader{
        font-size: 16px;
        margin-bottom: 10px;
    }
    h5{
        font-weight: 400;
    }
    .fa-gear, .fa-code, .fa-earth-asia{
        font-size: 20px;
    }
    .realm{
        line-height: 30px;
        padding: 0 30px;
    }
    .realm h4{
        font-size: 5px;
    }
    .description{
        padding: 20px 40px;
    }
    .description h5{
        line-height: 14px;
        font-size: 10px;
    }
    .title{
        padding: 20px 50px 0 50px!important;
    }
    .title h5{
        font-size: 10px!important;
        line-height: 14px!important;
    }
    .title>h2{
        font-size: 14px;
        margin-bottom: 10px!important;
    }
    .btn-primary{
        font-size: 8px;
        padding:2px;
    }
    .blsteam{
        top: 0;
        padding: 0;
    }
    .blsteam>a{
        font-size: 8px;
    }
    a>img{
        width: 13px;
        height: auto;
    }
    .prize-text{
        font-size: 8px;
    }
    .event{
        font-size: 13.5px;
    }
    #background{
        height: 50px;
    }
}
.blog{
    width: 100%;
    text-align: center;
}

.btn-primary{
    font-weight: bold;
    max-width: 170px;
}

#background{
    background: url('img/white-doodle-section.png');
    opacity: 0.7;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    position: relative;
}
.achievement{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.prize{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.prize-text{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.event{
    font-family: 'Quicksand', sans-serif;
}
.transparency{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-flow: column;
    line-height: 30px;
}
.title h2{
    font-family: 'Poppins', sans-serif;
}



.content{
    width: fit-content;
    margin: 20px;
}

.realm h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.skill{
    background-color: rgba(100, 100, 100, 0.173);
}

.robotics{
    display: flex;
    justify-content: center;
    position: relative;
    filter:brightness(0.9)
}
.blsteam{
    position: absolute;
    background: rgba(144, 143, 143, 0.5);
    border-radius: 15px;
}
.logo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: 'Expletus Sans', cursive;
    color: #ffffff;
    transition: .5s;
}
.logo>span{
    margin-bottom: 0;
    margin-left: 5px;
}
